.flex-panel {
  .flex-panel-title {
    position: sticky;
    top: 0;
    background-color: #DDD;
    box-shadow: 0 2px 4px #AAA;
    padding: 10px 20px;
  }
  .flex-panel-content {
    padding: 10px 20px;
  }
}