.wapper {
  .wapper-title {
    height: 80px;
    line-height: 80px;
    font-size: 50px;
    font-weight: bolder;
    background-color: #CBCBCB;
    z-index : 1;
  }
  .wapper-content {
    padding: 10px 0!important;
  }
}
.panel {
  .panel-title {
    top: 98px!important;
    box-shadow: none!important;
  }
  .panel-content {
    padding: 10px 0!important;
  }
}
.inner {
  .title {
    font-size: 40px;
    font-weight: bolder;
    padding: 0!important;
  }
  .subtitle {
    font-size: 30px;
    color: #444;
  }
}

.demo-box {
  margin: 8px 0 12px;
  font-size: 30px;
  .demo-box-title {
    background-color: #F7DFBF;
    padding: 10px 20px;
  }
  @at-root .demo-box-container {
    background-color: #4785C2;
    padding: 10px;
    display: flex;
    .demo-box-container-item {
      display: flex;
      align-items: center;
      margin: 10px;
      border: 1px #FFF solid;
      width: 80px;
      height: 80px;
      background-color: #BFF3F7;
    }
    .demo-box-container-itemB {
      flex-shrink: 0;
      padding: 10px;
    }
    .demo-box-container-itemW {
      width: 160px;
    }
    .demo-box-container-itemS {
      flex-shrink: 0;
      padding: 0 10px;
    }
    .demo-box-container-itemText {
      color: #FFF;
      margin: auto;
      font-size: 30px;
      line-height: 40px;
      text-align: center;
    }
    .demo-box-container-itemTextR {
      border-radius: 50%;
      border: 1px #FFF solid;
      width: 40px;
      height: 40px;
    }
  }
  @at-root .demo-box-container-scroll {
    max-height: 600px;
    overflow: scroll;
  }
}

.width3 {
  width: 120px!important;
}
.width4 {
  width: 160px!important;
}
.width5 {
  width: 200px!important;
}
.min-height6 {
  min-height: 240px!important;
}
.min-height10 {
  min-height: 400px!important;
}
.height3 {
  height: 120px!important;
}
.height4 {
  height: 160px!important;
}
.height5 {
  height: 200px!important;
}
.height7 {
  height: 280px!important;
}

.pink-box {
  background-color: #E0A3E0!important;
}
.green-box {
  background-color: #C2E0A3!important;
}
.yellow-box {
  background-color: #E0E0A3!important;
}